[2019-12-13 17:57] rjplevin commented on #422
If it seems like a useful feature, it would be easy to add `_first` and `_last` parameters to components that can be set when a component is instantiated in a composite or model.

[2019-12-14 01:32] lrennels opened #640 "set a parameter as a distribution"
https://forum.mimiframework.org/t/set-a-parameter-as-a-distribution/106/2

[2019-12-16 18:53] rjplevin commented on #524
@davidanthoff, The current design defines `external_params` in the `CompositeComponentDef`, so these can exist at all levels, including `ModelDef`.

This is necessary since a component might have external params and it can't be aware of external params of the same name defined elsewhere in the model. To connect these knowledgeably, I suggest we provide a function that lists all the external params

[2019-12-16 19:41] ckingdon95 commented on #524
@rjplevin this seems pretty related to the conversation in the second half of this issue as well: https://github.com/mimiframework/Mimi.jl/issues/519

(we had some god back and forth about namespaces for parameters in composites and what gets exported, so just wanted to make sure you are thinking about that now too!)

[2019-12-16 21:50] rjplevin commented on #524
@davidanthoff, @ckingdon95, @lrennels: I feel like the overall design of the composites is getting away from me / us. We have a number of discussion threads, but it's hard to distill a set of design decisions from all of this. This is the main stumbling block to finishing the implementation.

I think we may want to do one or both of the following:
1. A code review of the composite version of Mimi.

[2019-12-16 22:07] rjplevin commented on #524
Some of the guidance above doesn't account for hierarchy, e.g.
[code]
A single symbol is not an adequate descriptor for a component in a hierarchical model. These would have to become either `ComponentPath` instances (e.g., `ComponentPath(:top, :Comp1, :CompA)`, or the string equivalent `ComponentPath("/top/Comp1/CompA")`, which is sometimes more convenient. (Though I seem to recall David not cari

[2019-12-17 14:56] ckingdon95 commented on #524
I definitely agree that the design is getting away from us, and I think we should discuss it in depth this Friday!

While I'm thinking about it now, though, I'm just going to respond to your second comment about hierarchy. This is how I was interpreting our intention: we would no longer use ComponentPath's to set parameters, because all parameters that are not resolved by internal connections auto

[2019-12-17 15:01] ckingdon95 commented on #524
This is exactly what you said in your comment on Jun 17 on that other thread.
https://github.com/mimiframework/Mimi.jl/issues/519#issuecomment-502820363

I repeat, yes this is getting away from us!!

[2019-12-17 17:56] rjplevin commented on #524
Thanks, Cora. I'll have to review all these threads and extract actual decisions so we can review them.

[2019-12-17 21:57] davidanthoff commented on #524
Yes, I think @ckingdon95 has it right: I think we never need to deal with nested external parameter problems. If I use a composite component, then from the outside it should look _exactly_ like a leaf component, i.e. at no point should I be exposed to the fact that internally it is a composite. So that in particular means that I should never be exposed to external parameters that are deeper down i

[2019-12-17 22:10] lrennels commented on #524
I’ll look over this today, but agree I’m happy to dedicate a good amount of Friday's meeting to this so we’re all on the same page!

[2019-12-17 23:22] #548 closed

[2019-12-18 05:30] lrennels commented on #640
This problem seems to be fixed in the upcoming release, let's try BRICK on that one and see if it works properly.

[2019-12-19 00:59] #640 closed

[2019-12-26 19:42] ckingdon95 opened #644 "replace_comp! functionality with default parameters"
example:
[code]
The above code returns a value of 4 for p1, even though the parameter value had been set to 5 before the replacement, and other external values that are set such as for p2 are maintained. Is this the behavior we want? In my opinion, this is a bug, but I'm curious what others think.

[2019-12-31 19:38] NHDaly commented on #150
Sorry it's been almost a year since you posted this! Thanks for following up with this eventually; I'm happy to hear things are in such a great state! :)

Also, it was a pleasure to see you all last summer, and looking forward to hopefully seeing you again this summer in Lisbon! 😁
Unfortunately I'm quite busy with work at RelationalAI now, and probably won't have much time to go Issue hunting, but

[2020-01-05 04:34] #617 closed

[2020-01-05 04:36] #337 closed

[2020-01-08 22:04] davidanthoff commented on #644
I agree, this looks like a bug to me.

[2020-01-08 22:05] davidanthoff commented on #150
Yes, hopefully we'll all see each other in Lisbon!

[2020-01-09 18:39] rjplevin commented on #644
I'm not so sure.
- Should `replace_comp!` not be equivalent to removing the old and then adding the new comp?
- Should `replace_comp!` re-connect all same-named params and then delete params that aren't in the replacement?
- Or should it be an error if the replacement comp has different params than the original?

I think we need to address this by first defining the semantics we want.

[2020-01-09 19:26] rjplevin commented on #519
More questions about component semantics. (See also #644 and #524):

`@defcomp`
* Defines a "template" leaf component (i.e., not part of a component tree)
* Do we allow setting the value of an external param in a leaf ComponentDef?
    * If not, the only way to set the value of an external param is to first add it to a composite. Is this what we want?

`@defcomposite`
* Defines a template composit

[2020-01-09 20:11] davidanthoff commented on #644
I think the semantics that we keep all existing connections and parameter sets intact to the extent possible when we replace a comp makes most sense, at least that is what would be most useful for the scenarios where I would use this function.

[2020-01-09 23:34] davidanthoff commented on #519
I would think not. We allow to define a default value, but that is distinct, right?

Yes, I think so. In my mind the thing that is defined with `@defcomp` is like a type. So we can't set values of members of a type, but instead we can only do that with instances. The analogy for me is that you get an instance when you instantiate a model.

Hm, that is not the mental model I have. If we stick with

[2020-01-09 23:46] rjplevin commented on #519
A composite developer may want to use another component, but setting (and therefore "hiding" within the new composite) a value for what was external to the included component. If not how would one accomplish this?  Does excluding this option limit the utility of composites?

[2020-01-09 23:56] rjplevin commented on #519
The point here is that calling `add_comp!()` doesn't trigger parameter imports into the composite because you may subsequently want to call `set_param!()`. We don't know what's not connected yet that will be. The solution we discussed was do the top-level import when `build()` is called.

However, we have a similar problem with `set_param!()` if only operates on exported parameters. Consider:
[cod

[2020-01-14 01:09] davidanthoff commented on #519
Ah, that is a good point... I guess one option would be to stick with the "no values" story and just allow the composite to define default values for external parameters, and bubble up _all_ unconnected parameters of child components as parameters of the composite.

But we lose the ability that way to really shield users from the details of child components. Not sure what the right strategy here i

[2020-01-14 01:11] davidanthoff commented on #519
I think the code example there should just work, so we'll need to find a way around the current design to make that happen :)

Maybe we do need to move parameters to the top level at the `add_comp!` time, and then remove that again if in a subsequent call they get connected to somewhere?

[2020-01-14 14:39] ckingdon95 commented on #519
I think the unresolved semantics here are related to figuring out the behavior we want in the following examples:
[code]
CASE 1:
[code]
CASE 2:
[code]

From our previous discussion, I _think_ we want both of these cases to "work". But I think we didn't resolve whether or not the resulting model structures are the same or different. Some unresolved questions are:
- in case 2, do we want a "top" lev

[2020-01-14 20:39] rjplevin commented on #519
Thanks, Cora, for the clarifying example. It looks to me like the 2 cases should not produce equivalent models since (1) connects the two `p1`s and sets them to 35.

This suggests providing an API equivalent of `p1 = A.p1, B.p1`, so case 2 might be:
[code]

I'm not seeing a need for an automatic "top" component. I don't care for the "add them, then delete them" approach, which seems susceptible to

[2020-01-14 21:58] ckingdon95 commented on #519
@davidanthoff correct me if I'm wrong, but I think our intended functionality for the `set_param!` function would be that case 2, as I wrote it, would connect both of the `:p1`'s in both components to the same value, 35, in the model's external parameter dictionary, and that it shouldn't be necessary for the user to explicitly call an "import" function. Under the hood, though, the "import" is what

[2020-01-14 22:12] rjplevin commented on #519
I guess I'm seeing the analogy more like a Julia type definition _inclusive of internal constructors_, which set values. The result is a new type, but it can indeed set some values, even on the sub-elements of which it is composed.

perhaps we can define:
[code]
giving the user (and perhaps `@defcomposite`) the option of not exporting everything upon adding a component?

[2020-01-15 01:03] davidanthoff commented on #519
Yes, agreed.

I think the first three postings in https://github.com/mimiframework/Mimi.jl/issues/524 pretty much describe the behavior we want: `add_comp!` doesn't add external parameters, and then the various parameter function calls do as described there. I think the key there is that the connections to the external parameters are created in the various set_param etc. functions, right?

I think

[2020-01-15 01:08] rjplevin commented on #519
Remember that composites are potentially standalone products, too. A composite built for reuse needs somewhere to store connections, and (in my view) external parameters. So yes, I still think a ModelDef should subclass CompositeComponentDef.

[2020-01-15 01:10] davidanthoff commented on #519
Ok, and on the other discussion, whether composite components can set values of parameters of their children (that whole questions is entirely unrelated from the `add_comp!` question, right?):

Yeah, I think that is a good analogy, with the internal constructor.

I thought a bit more about it, and this is where I am right now: I think for now we should _only_ provide the ability to specify default

[2020-01-15 01:13] davidanthoff commented on #519
They are certainly quite similar, but I think there are quite important differences: composite comps can't have values, but they can have defaults (if we go with what I outlined above). ModelDef's on the other hand _must_ have values for all external parameters, but the whole idea of a default value doesn't make sense in a model def.

[2020-01-15 14:29] ckingdon95 commented on #519
I think another part of Rich's original outline we should clear up is the following:

First, it should only operate on exported parameters right?

Second, do we really want `set_param!` to be able to be called on a `CompositeComponentDef`? It seems like based on what we have been discussing here, assuming for now we go as David is suggesting, we are saying that values can only be set in models and

[2020-01-15 16:53] rjplevin commented on #519
David and I spoke yesterday and arrived at essentially the same place you just described, so we're in agreement. We also decided to create a new default-setting statement for `@defcomposite` that allows a literal on the right hand side of an assignment. So `p1 = 42` establishes an external param with that value, but the param `:p1` is still exported so it isn't hidden inside the component and can

[2020-01-15 19:31] ckingdon95 commented on #519
sounds great!

[2020-01-15 20:28] davidanthoff commented on #519
Yep! I think it would be good to just write down how the default value syntax in composite components ends up looking for the various situations, and how it works in relationship with the connection stuff we already have, right? Maybe one of us could just try to come up with some examples and post them here?

[2020-01-16 20:05] rjplevin commented on #519
Here are my thoughts:
[code]

Thoughts?

[2020-01-16 22:18] davidanthoff commented on #519
Cool, that is helpful!

I think we also had syntax to connect multiple parameters of child components to one external parameter, right? How would that fit it? I also don't remember what that was, but I think we had settled on something, right?

I'm wondering whether we should use different syntax for assigning a default value and connecting stuff... In particular, maybe we should not use `=` for s

[2020-01-16 23:30] rjplevin commented on #519
Yes, we decided you can write `p1 = A.p2, B.p4, C.p2` to make a new external parameter connected to all three of those on the right.

If we use an arrow symbol, the direction should follow the data flow, e.g., `var => param` instead `param => var`.

Not sure about `x = Parameter(default=42)` for composites. Yes, the surface syntax is the same, but the semantics differ in that you can't "create" a

[2020-01-17 18:53] davidanthoff commented on #519
We also support `c1 = Component(A)`, right? I think I'm gravitating to reserve `x =` syntax in all comp defs for creating named things...

I think we might (not in version 1, but later) also want to have the ability to add more information about parameters of composite components, for example things like a description, a unit, and maybe a visibility level. So maybe `x = Parameter(default=42, descr

[2020-01-17 20:11] davidanthoff commented on #519
In our meeting on 1/17/2020, we decided this:
[code]

[2020-01-21 15:50] ckingdon95 commented on #519
@davidanthoff @rjplevin @lrennels
I remembered one further composite-component syntax that we didn't discuss: exporting variables. Previously we had decided that variables calculated by leaf components would not be exposed at the composite level unless explicitly specified. Previously we had said the syntax would just be:
[code]
But in light of our discussion on Friday, I'm guessing we would inste

[2020-01-21 15:56] ckingdon95 commented on #519
also, I've updated the `composite` branch of MimiDICE2010 to reflect the decisions we made on Friday. The new versions of the composite component definitions are here, if anyone wants to see what they look like in practice! https://github.com/anthofflab/MimiDICE2010.jl/tree/composite/src/components/composites

[2020-01-21 17:41] davidanthoff commented on #519
Yes, agreed, I think we should start with `TATM = Variable(climatedynamics.TATM)`, and if we in some later version decide about more syntactic sugar we can add that on top.

[2020-01-23 04:46] lrennels commented on #519
So the line `TATM = Variable(climate dynamics.TATM)` would occur in the `defcomposite` macro and this explicitly exposes the variable at the top level? @ckingdon95 the syntax looks good to me, I'm having a little trouble remembering the use cases though. If a leaf component`Variable` is _not_ explicitly exported, are its values still available after running the model with some sort of syntax?

[2020-01-23 04:52] lrennels commented on #626
@ckingdon95 great idea, we can archive that guide and then replace it with one for v1.0

[2020-01-23 16:02] ckingdon95 commented on #519
Yes, it would occur within a `@defcomposite`, and would be necessary in order for a connection at a higher level to be made using that variable. Here is the use case:
[code]

However, regarding your second question, if a variable isn't exported, it should somehow still be able to be accessed after running the model, but it would have to be accessed with some syntax like:
[code]
@davidanthoff @rjpl

[2020-01-23 17:54] rjplevin commented on #519
Yes, that looks good to me. Though I assume the Climate composite should be:
[code]
i.e., we're not assuming any search for this variable.

As for `m.DICE2010.Climate.TATM` -- that would be a reference in regular julia code, not in `@defcomposite`, though `DICE2010.Climate.TATM` would work inside the macro.

[2020-01-23 19:25] ckingdon95 commented on #519
yes, the first thing was a typo!

[2020-01-24 01:31] lrennels opened #646 "Fix add_connector_comps! bug"
There is a bug in `add_connector_comps` such that if there are needed connector components in more than one of the `comp_def in compdefs(obj)`, we will try to add `ConnectorComp1` twice and trigger an Error.  We need to track how many total have been added outside of the loop over all compdefs. A toy example to show this problem (on v0.9.4) is below from https://forum.mimiframework.org/t/error-in-

[2020-01-24 17:55] #473 closed

[2020-02-03 19:09] rjplevin commented on #519
Ok, as always a new issue arises during implementation.

Adding a component to a composite automatically imports all "unbound" parameters to the composite. Say the parameter `y` is auto-imported. If the user then says `x = Parameter(subcomp.y)`, do we remove the auto-imported `y` and replace it with local name `x`, or do we keep both?

More generally, should a user be allowed to explicitly import

[2020-02-03 19:12] rjplevin commented on #519
Alternatively, we could add a keyword arg, e.g., `p2 = Parameter(subcomp.x, allow_duplicate=True)` and otherwise error if we find a duplicate.

[2020-02-04 15:52] ckingdon95 commented on #519
Maybe I'm not understanding what you're describing, because I don't see how it would be possible to ever have:
[code]
because what would happen when you do the following?
[code]
The `subcomp` needs one and only one value for it's parameter `x`, so I don't think we should allow duplicates, but maybe I'm msising something about what you're describing!

[2020-02-04 15:52] ckingdon95 commented on #519
To this point specifically, I thought that doing `x = Parameter(subcomp.y)` is technically "binding" the parameter `y`, so that it should not also be imported.

[2020-02-04 16:00] ckingdon95 commented on #519
To this point specifically, I think yes, we need to remove the auto-imported `y`, and replace it with the local name `x`. In my mind, what that's technically doing locally is "binding" `y` to external parameter `x`, so that `y` is now bound and won't be imported at the next level.

[2020-02-04 17:08] rjplevin commented on #519
[code]
Since p1 and p2 are effectively aliases to `subcomp.x`, this is equivalent to
[code]
The issue is when and how to handle the auto import. Currently, this happens in `add_comp!()`. I can remove the call to import upon adding a component, but this puts the burden on the user of the API, who will have to call `import_params!(composite)` when they are done with manual imports. I suppose that's

[2020-02-04 17:40] ckingdon95 commented on #519
I think maybe for this version we should only support calling `add_comp!` on a model, and not on a component? would that resolve this question?

[2020-02-04 17:50] rjplevin commented on #519
It depends how we think components will be used, and what the range of uses will be in interactive sessions. I'm not the best person to answer those questions.

[2020-02-04 17:52] ckingdon95 commented on #519
Ok I think we should just discuss on Friday, cause I'm still confused!

[2020-02-04 19:20] rjplevin commented on #519
Some of the decisions we've made recently are simplifying enough that I think some of the complexity I created to solve a more general problem (e.g., allowing a user to "reach into" a component hierarchy) is no longer necessary and should be rooted out for the sake of passing the code onto other maintainers.

[2020-02-04 19:35] davidanthoff commented on #519
I think the end-result should be that the composite has only one external parameter called `x`. I think the semantics we had agreed on was that only parameters of child components that are neither a) bound to a variable in some other child component nor b) explicitly exported (via ``x = Parameter(subcomp.y)`) should be automatically bubbled up.

I'm not familiar enough with the flow of operations

[2020-02-04 19:39] rjplevin commented on #519
Good! That's simplifying.

[2020-02-04 19:49] davidanthoff commented on #519
The only thing we need to have interactive is the existing ability to interactively create and modify models, as we always had.

[2020-02-05 14:50] ckingdon95 opened #650 "allow connections between subsets of regions"
It would be nice to be able to do the following:

[code]
And then the behavior would be that the GDP component gets the values from the population component, only for the elements that have the same dimension labels (i.e. :A, :B, and :C).

If there were a another element in the :gdp_regions list that wasn't found in the :pop_regions list, like an additional `:E`, then it would either error or fill

[2020-02-05 15:21] ckingdon95 opened #651 "improve explorer for non-time variables"
[code]
I think the plot for p1 should be with points instead of bars. (If the dimension values are numerical, I think they should get plotted as a scatter plot.)

Then the plots for p2 and p3 are currently meaningless, but what's interesting is that they are rendered differently from each other I guess because one of them has symbols for the second dimension and one of them has numbers for the sec

[2020-02-05 15:39] ckingdon95 opened #652 "add a way to view a component's equations nicely"
This is something I discussed with Fran and @FrankErrickson and @jrising.

We thought it would be nice for a user to be able to do something like:
[code]
and then it would either display in the REPL, or pop-up a window that nicely shows the equations from the run_timestep function for that component. This seems like an important use case to improve the current situation where if someone is working

[2020-02-05 16:06] ckingdon95 commented on #646
@lrennels we can close this right?

[2020-02-05 17:21] davidanthoff commented on #652
An alternative design would be that we attach doc strings to components, and that gets shown.

[2020-02-05 17:56] rjplevin commented on #651
[code]
In the current code under development, the first statement won't work because the import will not have happened yet. We might import on demand if the requested param doesn't exist in `m.md` and it is unbound in one subcomponent (but not in multiple).

Alternatively, you could call `import_params!(m)` any time after the `add_comp!` and before the `set_param!` calls. Alternatively alternative

[2020-02-05 18:07] ckingdon95 commented on #651
I'm pretty sure we want those calls to `set_param!` to still work. But I think any discussion about that belongs on this issue: https://github.com/mimiframework/Mimi.jl/issues/524

[2020-02-05 18:16] davidanthoff commented on #524
@rjplevin mentioned over in https://github.com/mimiframework/Mimi.jl/issues/651#issuecomment-582532483 that
[code]
wouldn't work going forward.

I think the only breaking change to `set_param!` that we should have is what we discussed above in this issue here. I don't understand why that would mean that a simple `set_param!` would now no longer work, and I think in fact that it should continue to

[2020-02-05 18:17] rjplevin commented on #650
Is the intention to allow parameters to be "joined" despite having different index names (`pop_regions` vs `gdp_regions`) but (mostly) the same index keys (A, B, C)?

So it's essentially like doing something like:

[code]

I wonder if we should instead think of this as a relationship between dimensions rather than of parameters, defining the `pop_regions` dimension in terms of `gdp_regions`, like:

[2020-02-05 18:18] #646 closed

[2020-02-05 18:18] davidanthoff commented on #650
I think this is a good idea, for some later release, no need to hash out the details of this rigth now.

[2020-02-05 18:24] rjplevin commented on #524
Unsure what a "simple" `set_param!` is. Two issues here:

`set_param!(m, :example, :p1, 1:5)` -- I thought we were only going to allow setting params on `m`, so this method, with sub-component name as 2nd arg would be deprecated.

But as per yesterday's discussion, `add_comp!` will not trigger imports, since the user may not be done setting up connections yet. So `set_param!(m, :p1, 1:5)` won't wo

[2020-02-05 18:27] rjplevin commented on #524
As I wrote in #651,

I think the best approach is the first one above, i.e., the "import on demand".

I thought we decided this form (with component named) was deprecated:
[code]
Since we're allowing setting params only at the model level.

[2020-02-05 18:58] FrankErrickson commented on #652
I think it'd be nice if this could follow a similar set up to @lrennels plotting framework. Where a new window with the component names would pop up and I could click each one to see all of the equations with something like:
[code]
With this setup I can keep this equation window open to refer to as I work, and it's easier to click on different components rather than running a line of code for diff

[2020-02-05 19:55] davidanthoff commented on #524
No, the spec we came up with is at the top of this issue here, and it does not deprecate this. I can't find any discussion where we said this would be deprecated (that would be a massively, massively breaking change, so that is just generally not an option). The only thing we said would change is that this situation will throw an error is there is an ambiguity, the details of that are described at

[2020-02-05 21:45] lrennels commented on #519
I think I'm following here but let's put it on the agenda for Friday to make sure!

[2020-02-06 20:38] rjplevin commented on #519
Just checking on our consensus:

- External parameters & connections will exist only in the `ModelDef`.
- Setting external parameters in interior composites was disallowed.
   - Instead, the composite developer can set a _default_ value, which is converted to an external param in the build stage, if no value has been explicitly set via `set_param!`
- `set_param!(m, :p1, 1)` auto-imports `:p1` from

[2020-02-07 01:22] davidanthoff commented on #519
Yes, that sounds right! I'm not 100% firm on the import language, but I think this sounds right to me.

[2020-02-07 01:23] rjplevin commented on #519
Good! I've implemented most of it, but still working out the kinks.

[2020-02-10 19:53] lrennels commented on #52
@davidanthoff closing this because it's a duplicate

[2020-02-10 19:53] #52 closed

[2020-02-10 19:57] lrennels commented on #283
@davidanthoff @ckingdon95 pinging this as an issue to check for potentially breaking behavior, I think it's fine as v1.1.0 but worth checking!

[2020-02-10 19:58] lrennels commented on #339
@ckingdon95 @davidanthoff I think this one is fine as v1.0.1 because it causes an error when the previous behavior would have been a buggy model

[2020-02-10 20:05] lrennels commented on #530
This would be breaking, so we we should make a call here.

[2020-02-10 22:25] davidanthoff commented on #283
Agreed, I think we can move this to a later milestone.

[2020-02-10 22:25] davidanthoff commented on #339
Also agreed, no need to do this for 1.0.

[2020-02-10 22:26] davidanthoff commented on #530
Indeed. I thought we had made a decision at some point? I have to admit that I don't care _that_ much. But, whatever we decide now will stick :)

[2020-02-11 14:27] ckingdon95 commented on #530
Yeah we decided to go with "modified". I will do this, it will be quick, I was just going to wait until Rich's stuff is merged to make it even easier!

[2020-02-12 11:52] jrising commented on #530
Thanks for doing this! I don't mind the breaking change, but it might be nice to do a "gradual deprecation", where the `marginal` attribute becomes an alias for `modified` that also prints out a warning telling people to switch over before the release after this one.

[2020-02-12 14:52] ckingdon95 commented on #530
Sounds good, we will do the deprecated version as well

[2020-02-14 01:28] rjplevin commented on #519
Another design / usage question.

"Real" variables exist only in leaf components, but we no allow var references to be imported into composites. I can see two reasonable ways to handle this in the "instance" side of the model in the `build()` stage:

1.  Replace connections made on important vars/params in composites with connections to the underlying leaf comps. You can think of this as "in-linin

[2020-02-14 03:17] davidanthoff commented on #519
Ah, good point... I'm tending towards the second option, and representing them just as a `Dict` and not as a named tuple. The API to access model results that users have is generally not really strongly typed, right? So in that case a dict seems fine?

[2020-02-21 21:14] rjplevin opened #656 "Remaining component cleanup"
I'm not sure which milestone or whom to assign these to:
1. **v1.0.0** @ckingdon95  - set_param, set_external_param, set_external_{scalar,array}_param, etc. are nested in weird ways. I think one of them should be named `_set_param` to avoid the confusion.
2. moved to #662 (With our current "import" semantics, I think some funcs that take a ComponentPath arg may be deprecated. I doubt they're used

[2020-02-21 23:27] davidanthoff commented on #656
@lrennels and @ckingdon95 can you copy these out into individual issues and then maybe divide them between the two of you? I assume this is all on hold until we have merged @rjplevin's branch, though, right?

[2020-02-24 19:21] ckingdon95 commented on #656
Just checking, is there a more verbose way of accessing this functionality? For example, does the following, or something like it, work instead?
[code]
or is there no way of setting multiple leaf parameters to one external parameter?

The rest of your list seems like we could address later, but if this functionality doesn't work, it's the one I'd be most worried about.

[2020-02-24 19:25] rjplevin commented on #656
No, there is not way to do it yet. I could work on this if it's critical.
Nor will the example you give work, because there's only support for a single `ParameterDefReference` currently, not an array of them. The simplest way to address this is probably to always store an array of them, with only 1 element in most cases.

[2020-02-24 19:34] rjplevin commented on #656
I fear that as we've altered semantics and API, we've been collecting unused functions that should be deleted. I know of no simple way to identify these currently. In Pycharm, the "find references" features is robust and dependable -- it requires matching only name and first argument. Multiple method signatures in julia complicate this substantially, so I don't trust the IDEs to get it right...

[2020-02-24 20:52] rjplevin commented on #656
Regarding the "joining" of parameters, we should determine how to handle several corner cases. Here are some with my proposed handling:

Joining parameters is permitted if:
1. the sub-component params are not otherwise connected
2. the sub-component params have no default values, or all have the same default value

Once parameters are thus joined, it should not be permitted to set any of the indiv

[2020-02-25 15:21] ckingdon95 commented on #656
Agreed with both of these!

Yes, you wouldn't be able to call `set_param!` on joined parameters, because they wouldn't be bubbled up to the composite's exposed parameters anyway. I imagine it would just cause a "key not found" type error when looking for such a parameter's name in the list of the composite's external parameters.

Yes, we need to disallow this, and only allow calling `set_param!(m,

[2020-02-25 22:41] lrennels commented on #656
@ckingdon95 @rjplevin I just took a stab at assigning these, take look before I split them out into different issues ... they all seem like they should be tacked in `v1.0.0` right?

[2020-02-25 22:42] lrennels commented on #656
Some of them probably could be `v1.0.1` I guess

[2020-02-25 23:20] rjplevin opened #657 "Implement "joining" together of multiple parameters"
Separated out from #656.

Implement the `@defcomposite` option to join parameters in sub-components to a single name in a super-component. Proposed handling:

Joining parameters is permitted if:
-  the sub-component params are not otherwise connected
- the sub-component params have no default values, or all have the same default value

Once parameters are thus joined, it should not be permitted to

[2020-02-25 23:25] lrennels opened #658 "Fix bug in colon indexing to timestep arrays"

[2020-02-26 00:01] lrennels opened #661 "Fix warnings from Electron in Explorer"
- resolve the `Electron` warning raised in `test_explorer_model` with the message:
[code]
- [DONE ... local environment issue] there is a bug `test_explorer_sim.jl`that traces back to the `get_sim_results` method that pulls results from disk with `results = CSVFiles.load(filepath) |> DataFrame` ... it seems to be a `CSVFiles.jl` related issue

[2020-02-26 00:33] lrennels opened #662 "deprecate some component functions"
- With our current "import" semantics, I think some funcs that take a ComponentPath arg may be deprecated. I doubt they're used by anyone yet.
- Similarly, funcs taking string paths, like "/path/to/component:datum_name" are probably deprecated.

[2020-02-26 14:48] ckingdon95 commented on #658
@rjplevin @lrennels can someone give a one sentence explanation of this one?

[2020-02-26 18:38] lrennels commented on #658
@ckingdon95 We thought that there was a situation where indexing into a `TimestepArray` with a `:` in the `ti` index caused a deprecation warning (and thus eventual error), but we want to be able to use the `:`.  As it turns out I think it was just a bug in the testing suite not in the code itself.  Make sense?

[2020-02-28 21:26] lrennels commented on #661
[code]

[2020-02-28 22:09] lrennels commented on #661
[code]

[2020-03-04 03:35] lrennels opened #673 "make plot functions compatible with VegaLite 2.0.0"
@davidanthoff hopefully this is easy I'll ask you if it gets confusing!

[2020-03-04 06:12] davidanthoff commented on #673
I don't think we have to do anything, hopefully. I only bumped it to VegaLite 2.0.0 because it ships with vega-lite 4 instead of 3, which has some breaking changes in some obscure corner cases that I'm 99% sure do not affect us.

[2020-03-04 06:19] lrennels commented on #673
I think it’s breaking the plot function, at least it does on CI and locally on my machine dependent on the VegaLite version.  We were kind of hacking it a little but so maybe I was stepping outside the API.

[2020-03-04 06:19] lrennels commented on #673
Or maybe I’m crazy!

[2020-03-04 07:09] lrennels commented on #673
Our `plot` function looks like this:
[code]
The last line, `VegaLite.VLSpec{:plot}(VLspec)` throws the following error in VegaLite 2.0.0
[code]

[2020-03-04 07:11] lrennels commented on #673
oh ... I think we can just take out the `{:plot}` type specification, but I'm not sure why we needed it before?

[2020-03-04 07:33] lrennels commented on #673
fixed it #674

[2020-03-04 07:40] lrennels opened #675 "mimi-next branches for models"
The following models are in the `test_all_models.jl` script. We have started `mimi-next` branches for some, with PRs labeled something like `Update for Mimi v1.0.0`

Checked off if running ...

these are packages:
- [x] MimiDICE2010 - Cora
- [x] MimiDICE2013 - Lisa
- [x] MimiRICE2010 - Lisa
- [x] MimiFUND - Cora
- [x] MimiPAGE2009 - Cora & Lisa

repos:
- [x] MimiDICE2016 - Lisa

(not doing these f

[2020-03-04 08:07] #658 closed

[2020-03-06 17:29] ckingdon95 opened #676 "add set_param/update_param methods for MarginalModels"

[2020-03-06 18:28] #673 closed

[2020-03-12 15:26] ckingdon95 opened #677 "fix getindex methods for composites"
We need to be able to access the parameters and variables that are explicitly available at the composite level, probably via the following:
[code]
I think we definitely need that method working for v1.0.0, which currently errors.

We had also discussed the ability to use dot-syntax to go down the tree to access values that maybe aren't bubbled up? something like:
[code]
But maybe that's not necess

[2020-03-12 22:10] davidanthoff commented on #675
I just tried to run `contrib/test_all_models.jl` (I updated it to hopefully use all the right versions).

MimiRICE2010 passes, but MimiDICE2010, MimiFUND and MimiPAGE2009 fail. I didn't run any of the other models.

[2020-03-12 22:47] davidanthoff commented on #675
Another todo here:
- [ ] Make the min version of Mimi in all the `mimi-next` branches `0.10`.

[2020-03-19 19:27] ckingdon95 opened #683 "remove/deprecate componentreferences"

[2020-03-23 16:55] ckingdon95 commented on #657
notes from 3/19:
- I'll implement this as described by Rich above
- possibly rename second two types to match how they are viewed from the outside, something like "CompositeParameterDef". These are actually definitions of parameters and variables in the composites.
- CompositeParameterDef and LeafParameterDef etc. would inherit DatumDef, all should have optional keyword arguments for defaults, uni

[2020-03-24 15:40] ckingdon95 opened #686 "using renamed components in @defcomposite"
The following renaming of leaf component A works:
[code]
But if you try to use the renamed component in a parameter definition, it errors:
[code]
[code]
This error already exists on master currently, so I think I might address it later instead of during my current re-write of composite parameter definitions. (i.e. I'll get the parameter stuff to work first without being able to rename components)

[2020-04-01 17:47] ckingdon95 opened #689 "bug in `_fix_comp_path` for internal_param_conns"
There seems to be a bug (on master) in the way that the component paths in subcomponents' internal_param_conns get updated, but the bug only arises after three levels of composites. Here is an example:
[code]
This displays the correct src_comp_path and dst_comp_path:
[code]
This one is also right:
[code]
But this one is messed up:
[code]

[2020-04-01 17:51] rjplevin commented on #689
Let me know if you guys want me to address this.

[2020-04-01 17:52] ckingdon95 commented on #689
Actually, it would be great if this is something that you could fix! Presumably it's a quick, somewhat isolated fix (but who knows...) would you be able to look at it soon?

[2020-04-01 21:49] davidanthoff commented on #689
Yes, if this is an easy fix it would be great if you (@rjplevin) could do it!

[2020-04-01 21:59] rjplevin commented on #689
And if it's not an easy fix? ;~)

[2020-04-01 22:53] ckingdon95 commented on #689
I'm imagining that this will only require modifying the `_fix_comp_path` function (and any helper functions if it has any). But if it starts touching other files or data structures, let's touch base before there are too many conflicts with the other stuff I'm working on!

[2020-04-01 23:04] rjplevin commented on #689
I'm deep in another project right now, so I'll check in before I start on it. Feel free to take it on sooner!

[2020-04-02 16:48] ckingdon95 opened #690 "improve Int time indexing warning message"
@lrennels could you look at this? I think you implemented the warning message for deprecating Int indexing. It seems like the message prints out the whole component instance type or something, which makes for a pretty long message. It looks like something like this in PAGE (looks worse in the terminal with word wrap):
[code]

[2020-04-02 18:43] lrennels commented on #690
I think what it’s doing right now is printing the stack trace of the error.  I recall the problem was the function that errors doesn’t have access to the component name, so this was one way to give the user an extra hint about where the error was happening.  Perhaps we can parse the Stacktrace to get more specific info without the verbosity.

[2020-04-03 18:31] lrennels opened #691 "Allow begin and end keywords for indexing"
`begin` and `end` for indexing into a timestep array

[2020-04-03 18:40] lrennels opened #692 "datum access methods for composites"
WIP-- I think we want to implement methods for accessing parameters and variables that exist at the top level of a model with the following syntax:
[code]
So far, I just added a test for this, and still need to implement it. We may want to remove the current methods for accessing values using a string for the component path. TBD.

[2020-04-03 19:54] ckingdon95 commented on #683
we decided we will keep these around.

[2020-04-03 19:54] #683 closed

[2020-04-03 19:57] ckingdon95 opened #693 "consolidate error messages"
- possibly define our error messages in one file to make testing easier
- possibly create some type hierarchy of different Mimi errors

[2020-04-05 01:50] lrennels commented on #690
@ckingdon95 the issue is that this error is deep in a `setindex!` and `getindex` methods where we don't have easy access to the useful information for tracing the error, like the component or parameter. I'm going to look here https://docs.julialang.org/en/v1/manual/stacktraces/ to get the stacktrace to print prettier at least.

[2020-04-05 03:28] lrennels commented on #690
#694

[2020-04-05 05:29] rjplevin commented on #690
Perfect opportunity to use the debugger! Just set a breakpoint and then back out through the stack trace.

[2020-04-05 05:31] lrennels commented on #691
#695

[2020-04-05 05:33] lrennels commented on #690
@rjplevin well the issue here isn't that we need to trace the error, but that we want to report useful information to the user when this error is triggered.  I think #694 at least prints the Stacktrace nicely for them to read!

[2020-04-07 16:58] ckingdon95 opened #696 "assigning old run_timestep function after redefinition"
If you redefine a component without a "run_timestep" function, it incorrectly assigns the first "run_timestep" function to the built component instance, instead of "nothing".
[code]

This causes the following error:
[code]

because Mimi still finds a `run_timestep_Main_A` method that was emitted from the first @macro. I think we may want to edit how the "builld" function looks for and assigns "run

[2020-04-08 20:21] lrennels commented on #675
This is done!  When Mimi is fully updated, then the test all models CI test should begin to pass.

[2020-04-08 20:21] #675 closed

[2020-04-09 23:55] #692 closed

[2020-04-09 23:56] ckingdon95 commented on #677
@lrennels I found this original issue for datum access methods, so I closed the other one

[2020-04-09 23:58] ckingdon95 commented on #662
I think I've taken care of most of these in this PR: #687
but we may want to do one more pass through later

[2020-04-10 00:05] ckingdon95 commented on #644
I think this has been resolved, because there was a change sometime on master since v0.9.5 where defaults are no longer explicitly set in the model at the time of `add_comp!`, and are instead not set till build time. This results in the desired behavior for a replaced component: it is the same as just deleting the old and adding the new, but any connections (internal or external) that had already

[2020-04-10 03:54] lrennels commented on #686
#698

[2020-04-10 15:40] arnavgautam opened #699 "Refining Mimi documentation"
Going through the [documentation](https://www.mimiframework.org/Mimi.jl/stable/) for the first time, there were a handful of things that were confusing.

- Site Navigation
  - Have the "Previous Page" and "Next Page" buttons more prominent, on the top of the screen
  - Minimize links within the documentation, or make it clear that they are branches off of the linear order of the documentation.

[2020-04-10 21:03] #686 closed

[2020-04-11 19:47] ckingdon95 opened #701 "add `ignoreunits` option to `connect` calls within @defcomposite"
We should probably allow the following:
[code]

[2020-04-11 22:31] #689 closed

[2020-04-11 22:35] ckingdon95 commented on #524
I've implemented the core functions described by @davidanthoff in the first comment. Now moving this issue to milestone v1.1 because the methods described in David's second and third comment are not implemented yet, but can be added later as an enhancement.

[2020-04-11 22:36] #657 closed

[2020-04-11 22:38] #656 closed

[2020-04-11 22:41] ckingdon95 commented on #519
I'm going to close this, I think all the important things discussed here have been broken out into separate issues and addressed. One of the final things here is discussing accessing vars at the composite level in the instance side of things, which will be addressed here #677

[2020-04-11 22:41] #519 closed

[2020-04-12 00:17] ckingdon95 commented on #575
This works now, but I want to wait until there are better datum access methods for composites and then add a validation test file for this composite version. We should also decide what we want our convention to be for model packages going forward: do we want `get_model` to return the composite version or the flat version? Do we want a keyword argument for which kind it should return, or a separate

[2020-04-16 19:25] lrennels commented on #677
#704

[2020-04-27 19:28] arnavgautam commented on #530
I can work on this

[2020-05-04 20:59] #677 closed

[2020-05-05 20:25] arnavgautam commented on #676
I can work on this

[2020-05-11 21:23] #530 closed

[2020-05-20 20:35] lrennels commented on #699
#708

[2020-05-20 20:36] lrennels commented on #626
#708

[2020-05-22 17:20] ckingdon95 commented on #662
I've been going back and forth on this, I removed many of the methods that take ComponentPaths as arguments, but not all of them, since some of the internal implementation of `connect_param!` still relies on them (although they don't have to, it would just take a little bit of work to go through and change some of them). I'm sort of inclined to put this off until v1.0.1 or something, but not sure

[2020-05-22 17:21] lrennels commented on #662
I think putting it off until v1.0.1 seems sensible, especially if none of the methods that use the ComponentPath are really exported for user use.

[2020-05-22 17:33] ckingdon95 commented on #696
I think we can push this to v1.0.1, but will wait for David's input

[2020-05-22 17:36] ckingdon95 commented on #575
update: Lisa has added validation testing to the composite version, now we just need to decide what we want our convention to be for a "get_model_composite" function, or if we should release new versions of the model packages where the composite version is the main version

[2020-05-31 21:20] lrennels opened #710 "Explorer for Composite Components"

[2020-06-02 22:44] lrennels commented on #710
#711

[2020-06-05 18:03] ckingdon95 opened #712 "change replace_comp! to replace!"
and make the argument a pair like Julia's Base.replace! arguments

[2020-06-06 21:34] #710 closed

[2020-06-06 21:35] #644 closed

[2020-06-13 00:57] lrennels commented on #626
Reminder to look at the changes I'm making in the removing deprecation branch as a guide for what has been changed.

[2020-06-13 01:21] lrennels commented on #585
#743

[2020-06-15 00:41] #691 closed

[2020-06-18 17:45] ckingdon95 opened #716 "work on `replace!` for composite components"
will want to allow both:
1. replacing a top level composite component within a model
2. replacing a subcomponent within a composite component definition

[2020-06-18 19:39] #699 closed

[2020-06-18 19:40] lrennels opened #717 "finish v1.0.0 docs"
Documentation required for release of v0.10.0 (and v1.0.0) marked with **TODO**
**1. Home** - a single file

**2. Tutorials** - header

-  Tutorials Intro
-  Tutorial 1: Install Mimi
-  Tutorial 2: Run an Existing Model
-  Tutorial 3: Modify an Existing Model
-  Tutorial 4: Create a Model
-  Tutorial 5: Sensitivity Analysis

**3. How-to Guides** - header
- How-to Guides Intro
- How-to Guide 1: Con

[2020-06-19 17:26] ckingdon95 commented on #662
as discussed last week, I will rename some of the `connect_param!` methods that still use `ComponentPath`s that should now only be used internally

[2020-06-23 16:42] #712 closed

[2020-06-26 02:17] #626 closed

[2020-06-26 18:05] #575 closed

[2020-06-26 18:07] lrennels opened #721 "Drop compatibility with v1.2 and v1.3"

[2020-06-26 18:14] #662 closed

[2020-06-26 18:27] lrennels opened #722 "Use REACT for Explorer"
Now that we have added components we want to allow things like a tree-view dive into composite components.  Motivated by this, we have decided to convert the framework over to REACT.  To-do items include converting the current framework over and getting that to work, followed by adding component viewing etc.

Currently being handled here:  #719

[2020-06-27 23:43] lrennels commented on #717
#724

[2020-06-27 23:44] lrennels opened #725 "Add documentation"
**Possible Additional Sections**
- more composite internals
- stuff about the different `set_param!` methods
- stuff about how default values are handled/applied at build time
- how to modify simulation definitions by changing some of the random variables
- how to use pre/post trial functions (and “payload” objects)
- how to use scenarios in simulations

**Structure**
**1. Home** - a single file

[2020-07-04 03:48] davidanthoff commented on #722
Here are the UI libraries that I've heard from:
- https://developer.microsoft.com/en-us/fluentui#/get-started/web
- https://material-ui.com/
- https://semantic-ui.com/
- https://react-bootstrap.github.io/

I guess the first thing to check is which of these have some sort of support for the kind of hierarchical tree view thing that we need?

[2020-07-11 00:55] #721 closed

[2020-07-11 00:55] #717 closed

[2020-07-11 00:56] #585 closed

[2020-07-15 18:58] lrennels commented on #722
The hierarchical tree view part would be for showing composite component structure, correct?  We also want a more advanced side-bar, but I'm guessing most of them have that.  I'll look into these now.

[2020-07-17 17:48] davidanthoff commented on #661
Next step: see whether this is better with a new Electron.jl version I'm about to tag.

[2020-07-17 17:55] lrennels opened #734 "Clean up docs"

[2020-07-17 23:38] ckingdon95 opened #735 "add option for no progress bar"
@davidanthoff you had requested this. I'm guessing you were thinking a keyword argument to the `run` function for simulations? some options:
- quiet = true
- verbose = false
- progress_bar = false

[2020-07-23 03:21] davidanthoff commented on #735
I changed my mind :) I think we should hook into some progress logging framework. We can discuss on Fri.

[2020-07-29 23:41] #734 closed

[2020-07-30 06:35] lrennels opened #739 "fix deprecation warning"
[code]

[2020-07-30 06:36] #661 closed

[2020-07-30 06:39] lrennels commented on #739
https://github.com/bcbi/bidss/issues/97

[2020-07-30 06:48] lrennels commented on #739
.

[2020-08-10 18:25] #735 closed

[2020-08-14 18:44] lrennels opened #746 "Revisit access methods"
For the new and improved explorer, we need to be able to

1. Figure out what the component tree looks like and grab whatever types and structs are necessary to ...
2. List all of the variables and parameters bubbled to any given component, and then access their data

[2020-08-22 01:02] davidanthoff opened #748 "Combined timestep and range indexing doesn't work"
I tried this:
[code]
with this declaration:
[code]
and that doesn't seem to work.

For now not a big problem because we can just do it manually, but it would be nice if this worked.

[2020-08-24 16:43] davidanthoff opened #750 "create_external_param!"
See discussion [here](https://github.com/anthofflab/MimiFAIR.jl/pull/19#pullrequestreview-472965223).

@ckingdon95 rightly pointed out that this is less of a problem with models that are packaged as composite components. I still think, though, that there is a valid use case for this kind of pattern when folks are not using composite components. I think we should just support both cases.

Is the ex

[2020-08-24 16:59] ckingdon95 commented on #750
yes, I think that the private `set_external_param!` function is what we are talking about. I think we will want to discuss any possible corner cases and make sure we right up a test file that has examples of when this would error etc. (what happens if you use this function, then try to call `set_param!` with the same parameter name, for example)

I think I like the name `create_external_param!` or

[2020-08-24 18:19] davidanthoff commented on #750
Yes!

The error conditions I can think of right now would essentially be that whenever an external parameter already exists, and one tries to create it again, we error. So that would imply that if one calls `create_param!` twice with the same name, it errors. Given that `set_param!` internally would also call `create_param!`, calling any combination of these two that would end up creating paramete

[2020-08-27 01:56] #746 closed

[2020-09-01 22:03] davidanthoff opened #752 "Should delete! on a component delete stray parameters?"
I've run into the following scenario: someone gets a model via the `m = ModelName.get_model()` function. I then remove a component from `m` via the `delete!` function. At this point `m` now can have a number of external parameters that are not used anywhere. Say one of the left-over parameters if called `foo`. `foo` was used by the component that I just deleted.

Now I add a new component that als

[2020-09-09 01:26] davidanthoff opened #753 "update_param! dirties the model definition"
When I do this:
[code]
What this means is that code like this:
[code]
will rebuild the model instance in every loop.

That is not how it should be, right? We want to be able to update external parameter values and rerun without rebuilding, it seems to me?

Or do we need to manually construct a model instance in that case and then update the parameter values only in the model instance?

[2020-09-09 01:39] ckingdon95 commented on #753
The reason it "dirties" the model is because after you update the parameter value, the model definition now does not match the model instance (the model instance still holds computed values from when the parameter in question was equal to the old value). I don't see this as a bug.

However, we have previously discussed adding an unsafe version of `update_param!` that would allow you to not have to

[2020-09-09 01:55] ckingdon95 commented on #753
Alternatively, we could add an option to the `run` function (something like `rebuild_if_dirty::Bool = true`) that the user could override instead (if they know that the changes they made that made it dirty are just parameter value changes, and not structural changes like internal connections that need to be re-built)

[2020-09-09 20:01] davidanthoff commented on #753
Or we just start to expose the whole model instance/definition distinction in the public API for advanced use cases? For example, this could be written as:
[code]
And so the idea would be that an `update_param!` on a model instance just updates that parameter value in that specific model instance.

[2020-09-09 20:07] lrennels opened #754 "calling Packages within @defcomp"
handle this: https://forum.mimiframework.org/t/set-a-parameter-as-a-distribution/106/15

[2020-09-09 20:15] lrennels opened #755 "Monte Carlo and default params"
**Frank**

I'm doing a Monte Carlo with SNEASY and there are a couple parameters with default values. When I try to do an update_param! on them, it throws the `error: Cannot update parameter; CO₂_0 not found in composite's external parameters`. So to do a Monte Carlo, I have to first do a `set_param!` with a fake value, and then I can carry out the Monte Carlo runs with the `update_param!` syntax.

[2020-09-10 05:12] lrennels commented on #748
@davidanthoff I'll work on this!

[2020-09-10 05:47] lrennels commented on #748
Ah it looks like a `setindex!` problem, the `getindex` works ok

[2020-09-10 18:46] ckingdon95 commented on #753
@davidanthoff is this resolved now? i.e. does `update_param!(mi)` work on a model instance still?

[2020-09-10 20:17] davidanthoff commented on #753
No, `update_param!(mi)` doesn't exist yet.

I think we currently actually don't have the notion that a model instance can use a different instance of values for a parameter than its model definition, right? At least that is how the data structure looks to me right now.

I think what we'll need to do in `update_param!` is essentially this:
1. go through the `md` of the `mi` to understand which comp

[2020-09-11 18:37] davidanthoff commented on #752
@ckingdon95  and I decided to go with option 1. Just need a good name for the keyword argument. `delete_unused_model_params` was one idea.

[2020-09-11 18:44] davidanthoff commented on #750
We could use `set_param!(m, :name, value, auto_connect=false)`.

[2020-09-11 22:20] #754 closed

[2020-09-11 22:25] davidanthoff opened #760 "Remove remaining eval call in the @defcomp"
I think we should be able to get rid of the remaining `eval` call in `defcomp` as well, [here](https://github.com/mimiframework/Mimi.jl/blob/2538cd288c48263f461dfaae8c62aef13740e29e/src/core/defcomp.jl#L265).

I think all we would have to do is move the check that is there into `add_parameter` [here](https://github.com/mimiframework/Mimi.jl/blob/2538cd288c48263f461dfaae8c62aef13740e29e/src/core/de

[2020-09-12 22:37] #760 closed

[2020-09-17 22:26] lrennels commented on #739
Note that as we update the explorer to use React this might go away ... but it would be good to fix it

[2020-09-23 21:44] #374 closed

[2020-09-24 00:54] #753 closed

[2020-09-24 06:33] #739 closed

[2020-09-24 19:27] #10 closed

[2020-09-30 17:53] lrennels opened #765 "Review Treatment of Timestep Arrays"
Look into the way we handle methods for timestep arrays and make sure it is consistent with Julia, starting with looking at implementing things like indexing with a colon and index.

[2020-09-30 17:54] #748 closed

[2020-09-30 22:25] davidanthoff opened #766 "Add dim_keys for model instance"
@lrennels could you take a look at that?

[2020-09-30 22:38] lrennels commented on #766
@davidanthoff meaning being able to access `dim_keys` from the instance not just the def?

[2020-10-21 13:09] jrising opened #771 "set_param! error message is confusing"
If one uses `set_param!` to create a parameter specific to a given component, and then calls it a second time in the same way, the resulting error message is:
[code]
(also, presumably those functions should have a bang.)

I don't mind that there's not a single function to call that will update or create a component-specific parameter, but in this case, the error message should just say:
[code]

[2020-10-23 22:05] #766 closed

[2020-10-27 18:13] lrennels commented on #771
@jrising thanks!  What would the actual call the user is typing look like in this case?  Are your saying that in the case that the user is _already_ using the method `set_param(m, comp_name, param_name, unique_param_name, value)`, so we can shorten the error message because it's implicitly clear that they want to do this for the specific component?

[2020-10-28 09:14] jrising commented on #771
Actually, we can close this. The problem was more clear in the reference system, where the idea that you are actually "setting a parameter on a component" is implied. Will there be a way eventually to set parameters on components without constructing external parameter names?

Anyway, PR #773 fixes the situation for references, and users will better understand the error message if they get it when

[2020-10-28 09:14] #771 closed

[2020-10-28 16:12] lrennels commented on #771
You can set a parameter in a component without explicitly constructing an external parameter with a call like `set_param!(m, :ComponentName, :ParameterName, 0.8)`, but then by default the external parameter it is linked to will also get the same `:ParameterName`. That's of course fine in some cases, but in others you may want to explicitly set a new external parameter name if this clashes with an

[2020-10-29 22:06] jrising commented on #771
I understand that this function is creating a model-level parameter, but it sets up the illusion that it is setting the parameter at the component-level. I think the solution to this, however, is to create actual component-level parameters, not just to change the error message.

[2020-11-02 19:18] lrennels opened #779 "Monte Carlo Broadcasting Bug"
Per Dale's comment here:

https://forum.mimiframework.org/t/mcs-assigning-random-variables-to-indexed-variable/129

due to changes in broadcasting etc. in underlying Julia, instructions here: https://forum.mimiframework.org/t/mcs-assigning-random-variables-to-indexed-variable/129 for assigning to slices no longer work when you are doing a many to one assignment and thus need a `.=` operator.  We h

[2020-12-10 19:30] #722 closed

[2020-12-10 22:31] #779 closed

[2020-12-21 20:14] lrennels opened #787 "Add an (optional) Name Attribute to Models"

[2020-12-24 20:04] lrennels opened #788 "update_param! when originally set by default"
We need to revisit how we want `set_param!` vs. `update_param!` to work in the case of defaults being set.  Current behavior is confusing to users:

1. If a parameter is set by a default and the model is then run, users expect to be able to call `update_param!` on the parameter in the model, but this errors because they need to call `set_param!`.  At the very least we should throw a better error t

[2021-01-12 19:19] #269 closed

[2021-01-12 19:19] #214 closed

[2021-01-12 19:35] davidanthoff commented on #190
We're closing this because composite components essentially address this and we have a separate issue for the parameter loading story.

[2021-01-12 19:35] #190 closed

[2021-01-12 19:40] #369 closed

[2021-01-12 19:42] davidanthoff commented on #195
We're going with something for that where one can use Query.jl to filter and save.

[2021-01-12 19:42] #195 closed

[2021-01-12 20:05] davidanthoff commented on #652
Current thinking is that any component documentation system would also show the source code for the `run_timestep` function.

[2021-01-12 20:16] #752 closed

[2021-01-12 20:22] #614 closed

[2021-01-12 20:25] #480 closed

[2021-01-14 21:46] #465 closed

[2021-01-14 21:50] lrennels opened #789 "Docs on Models as Packages"
Add documentation clarifying how we use models as packages (and modules), and add a placeholder here for the workflow for users building new models that may or may not get registered.

[2021-01-14 21:52] lrennels opened #790 "GitHub CodeSpaces Tutorials"
When GitHub CodeSpaces is released, work to move tutorials onto this platform (https://github.com/features/codespaces)

[2021-01-14 21:53] lrennels opened #791 "MCS Documentation"
Clarify in the MCS documentation how to do the following:

- assign a parameter a distribution with known shape parameters
- assign a parameter a user-specified vector of numbers
- assign correlated parameters

[2021-01-14 21:55] #347 closed

[2021-01-14 21:58] #526 closed

[2021-02-10 17:44] lrennels commented on #788
Current behavior:
[code]
while this may make sense, because the model has not been built yet, the same behavior remains even after we have called `run(m)`, which strikes me as unexpected. I would think that once you have called run and built the model, you should certainly be able to call `update_param!` on any of the parameters that have a value attached.

[2021-02-10 18:53] lrennels commented on #788
The middle bullet above would be achieved by flipping the first two lines in this function, but that in some ways breaks other invariants so its worth a discussion.
[code]

[2021-02-14 03:55] lrennels commented on #789
#794

[2021-02-14 03:55] lrennels commented on #573
#793

[2021-02-14 03:56] lrennels commented on #422
#793

[2021-02-14 04:02] lrennels commented on #755
grouped into #788

[2021-02-14 04:02] #755 closed

[2021-02-17 21:34] lrennels opened #795 "MCS modification functions"
- write some documentation for the MCS modification functions
- make sure all MCS modification functions have proper errors if a RV is not found ex. add an error if `:replace_RV` is called for a parameter that does not exist, right now it adds one which is confusing and unexpected behavior
- write a test file for MCS modification functions

- explicitly note that if you don't create names for your

[2021-03-03 00:45] #789 closed

[2021-03-07 18:26] #422 closed

[2021-03-07 18:26] #573 closed

[2021-03-07 18:50] lrennels opened #797 "first and last flow through add_comp! in @defcomposite"

[2021-03-09 21:48] lrennels commented on #797
#799

[2021-03-16 06:06] #797 closed

[2021-03-16 19:15] JuliaTagBot opened #802 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2021-03-19 21:51] lrennels commented on #213
closing because this seems to be done already, see the test file `test_getdataframe`

[2021-03-19 21:51] #213 closed

[2021-03-30 00:34] #651 closed

[2021-03-30 00:49] lrennels opened #804 "Enable Replacing Components at Any Composite Level"
We want to make it easier for users to replace components in composite models, a concrete example being replace the climate component of a composite version of FUND with composite FAIR as presented below in some rough pseudocode.

In general the current problem is that anything below the top layer of a composite component is more or less **immutable**, which creates some problems when we want to r

[2021-03-30 04:45] #795 closed

[2021-04-01 23:55] lrennels opened #805 "Change Component first/last after it is added"
Right now when we add a component to a model, we can optionally set its `first` and `last`.  If they are set there are set the component's `first` and `last` **will not change** if the model time dimension is changed (they have a `first_free` and `last_free` flag that is set to `false`.  If they are not set, they will take the first and last of the model itself, and **vary freely** with the model,

[2021-04-05 20:32] wingfactor commented on #524
The methods in David's 3rd comment and one from the 2nd comment, `connect_param!(m, :compA, :p1, :p_ext_3)`, were implemented, apparently by other commits/PRs not referencing this issue.

PR #800 implements `set_param!(m, [:compA, :compC, :compD], :p1, 23)`. I'm back to working actively on it and it should soon cover `set_param!(m, [:compA=>:p1, :compC=>:p3], :p_ext_3, 34.)` as well.

[2021-04-06 00:48] lrennels opened #808 "Update to `set_time_dim!` and `add_comp!`"
Given the work on [FUND-FAIR-flat](https://github.com/anthofflab/MimiFUND-MimiFAIR-Flat.jl) we have a few updates:

1. first and last - Remove the `first_free!` and `last_free!` flags on a component, such that `first` and `last` are either `Nothing` or an `Int`, and once they are set to an Int they cannot freely vary with the model. This means that while models are **not time agnostic once `set_di

[2021-04-20 05:44] lrennels commented on #805
#811

[2021-04-20 05:44] lrennels commented on #808
#811

[2021-04-20 05:49] lrennels opened #812 "Updates to set_param! and update_param!"
Below I summarize three issues that this PR should encompass, all of which involve `update_param!` and `set_param!`.

I do think at this point we should be careful about breaking things or adding too much API ... keeping things as fluid and simple for users as possible is a priority!

**1. `set_param!` vs `update_param!`**

There has been a little bit of dissatisfaction with having to decide betwe

[2021-04-20 06:42] lrennels commented on #524
Closing for now since most will be taken care of in new issues, @wingfactor those methods will still be useful we can just incorporate them into the upcoming work!

[2021-04-20 06:42] #524 closed

[2021-04-27 01:35] lrennels opened #818 "Compact Show Methods for Long Component Defs"
`add_comp!` returns component references or definitions, and these can be very long ...we should consider checking for `compact` (https://discourse.julialang.org/t/show-and-showcompact-on-custom-types/8493/2)  and making sure that the text blocks returned by things like `add_comp!` are not printing too much

[2021-04-28 02:43] linguo4 opened #820 "Mimi.jl/MimiFUND.jl compatability issue using other packages."
Hi,

I plan to use the mimi package but there seems to be incompatibility to another package I'm using. The installation of Mimi.jl/MimiFUND.jl will downgrade my installed latest version ReinforcementLearning.jl. Please check the error and reply from the administrator of ReinforcementLearning.jl below. In the last reply, he mentioned the dependence from MimiFUND.jl on Distributions and DataStructu

[2021-05-06 20:20] lrennels commented on #820
@linguo4 I think we fixed this together so I"m closing this issue, let me know if it's not fixed!

[2021-05-06 20:20] #820 closed

[2021-05-06 20:23] #560 closed

[2021-05-06 20:23] #805 closed

[2021-05-06 20:23] #808 closed

[2021-05-27 05:57] lrennels opened #830 "Testing of Models"
revisit `contrib/test_all_models.jl` vs. `test_dependencies.jl` and specifically which models should go in the latter

[2021-06-02 22:38] lrennels opened #831 "Revisit Parameter DataTypes etc."
- revisit the corner cases of when you parameterize a Parameter (ie. `p = Parameter{Int64}()`) and how that works with connecting to a shared model parameter
- treatment of DataTypes in `add_shared_param!` ... what are the requirements?

[2021-06-04 00:41] lrennels opened #832 "Colon Case for Arrays"
Add methods to support colons between Timesteps ie.
using Mimi

[code]

[code]

[2021-06-04 00:45] lrennels commented on #832
or even smaller ...
[code]

[2021-06-14 19:07] #750 closed

[2021-06-14 19:07] #788 closed

[2021-06-14 19:07] #812 closed

[2021-06-15 23:37] #636 closed

[2021-06-15 23:46] davidanthoff commented on #716
Now tracked in https://github.com/mimiframework/Mimi.jl/issues/804.

[2021-06-15 23:46] #716 closed

[2021-07-06 23:56] lrennels opened #834 "Add units to explorer if and when they are provided"
@bprest

[2021-07-08 23:33] lrennels opened #837 "Improve Performance of Exploring Simulation Instances"
Both `explore(sim_inst)` and `plot(sim_inst, :comp, :var)` are extremely slow, and these also don't use the same React infrastructure being used by the `explore(m)` call ... should try to speed these up and maybe move to the React framework as well.

[2021-07-14 02:00] lrennels opened #838 "Throw Warning if compname.paramname syntax is used in `defsim` for a shared model parameter"

[2021-07-14 16:55] lrennels commented on #25
Let's bump this towards top of discussion as it would be a well-contained, but valuable, contribution.  We also see interest on the forum here: https://forum.mimiframework.org/t/mimi-and-unitful/182/2

[2021-07-14 17:06] lrennels commented on #834
Some short-term improvements to the explorer include:

- use the proper units labels on the axis if they are provided for a given parameter or variable, as suggested by @bprest
- add the ability to indicate a `Date` type of the time dimension of a model so `explore` shows the proper date indices instead of integers re. https://forum.mimiframework.org/t/working-with-dates-time-steps/184

[2021-07-14 17:12] lrennels opened #840 "Allow use of Dates for Time Dimension"
As discussed here: https://forum.mimiframework.org/t/working-with-dates-time-steps/184/2 it would be very useful to allow users to input Dates instead of integers for their time steps.  This may be a significant lift for internal structures, but we might be able to depend on Julia's multiple dispatch for array types ... so let's scope it out and see.

[2021-07-28 02:55] #838 closed

[2021-07-28 02:55] #830 closed

[2021-08-16 23:53] lrennels opened #841 "Error Handling for Forgetting `p.` and `v.` in `Component` macro"

[2021-09-28 21:53] davidanthoff opened #848 "Fix multi dim namespace collisions"
The solution is:
[code]

[2021-10-12 04:35] lrennels opened #850 "SampleStore Should be Able to Handle trials == 0 and trials == 1 Cleanly"
[code]

[2021-10-12 05:33] lrennels opened #851 "Expand `add_transform!` to be able to handle non-shared parameters"
The signature
[code]
Only allows a Symbol `paramname`, but we want to have an option to pass `compname.paramname`

[2021-10-12 05:39] #851 closed, assigned to nobody

[2021-10-15 19:00] davidanthoff opened #855 "The d parameter is not typed enough"
It seems that the `d` parameter to our `run_timestep` function (and presumably also the `init` function) is not properly typed, leading to type instabilities down the road.

[2021-10-27 06:58] lrennels opened #865 "Connector Component Backup Data for Comps with Same Name"
As noticed in RffModel when adding several `identity` components, each with `input` and `output` as well as backup, I noticed that it seems that when we set the backup for one of the components, it's setting that as the backup for all three components.

It looks like perhaps the connector component that holds the backup data is using shared parameters so input and output are overwritten.

[2021-11-12 23:39] lrennels opened #873 "Allow Setting Defaults with Strings or Symbols"
Setting a `default` value with a Symbol or String errors because of a check that tries to take `ndims(default)`, we should adapt this so it does not error and returns `1`.  Examples below

works fine:
[code]

breaks with the error below:
[code]
<img width="1025" alt="image" src="https://user-images.githubusercontent.com/31779240/141595688-bd536ade-0683-42f7-b0b9-b9ce0d883264.png">

[2021-11-12 23:40] lrennels commented on #873
@bryanparthum thanks for the find!

[2021-11-15 03:11] lrennels commented on #855
We can probably use `NamedTuple` instead of `OrderedDict` for the dimensions dictionary, and perhaps other spots in the `Mimi` code like components, variables, and parameters dictionaries in order to get some more performance and from type stability inherent to those types.

[2021-11-15 03:52] lrennels opened #875 "Review the Typing and Type Checking of Parameters and Variables"
The typing story for parameters and variables, particularly for non-`Number` types like `String`s and `Symbol`s, is a bit fragile and can cause some confusing error messages. For example, typing with something like
[code]
will fail, and only work if you type it with `{Symbol}`, as if you are indicating the element type instead of the parameter type.  We should move through this carefully and think

[2021-11-17 20:06] #873 closed

[2021-11-19 21:12] #855 closed

[2021-12-01 02:10] lrennels opened #889 "Enhance error message about parameter being `nothing` on build."
This error message happens commonly, and it would be good to add some suggestions for users on how to debug it or remedy it if we can pull any other information from the state where it errors.

[2022-03-31 00:15] lrennels opened #898 "Resizing Dimension --> Parameter remains same size and retains old values"
[code]
julia> run(m)
Union{Missing, Float64}[1.0, 2.0, 3.0]

[code]
julia> run(m)
Union{Missing, Float64}[100.0, 200.0, 3.0]

[2022-03-31 07:18] lrennels commented on #875
Update that we should fold this in to all three `_check_attributes` methods including the one for internal parameter connections as added in #899.  That particular method **does not** currently check datatypes, so as to avoid further complexity before we handle this uniformly, but should check them.

[2022-06-15 00:40] lrennels commented on #898
A question here is what is the _desired_ behavior?  Resetting the time dimension is possible as long as the new time period lies within the original time period.  This will of course `dirty` the model, parameters with a `time` dimension need to be reset, and then the model rerun to get new values.  You can still access `m[:component, :parameter]` from the `ModelInstance`, and a parameter with a `t

[2022-06-22 21:40] lrennels commented on #865
Handled in #908

[2022-06-22 23:13] #865 closed

[2022-07-13 20:57] #889 closed

[2022-07-20 20:20] #898 closed

[2022-08-19 08:17] lrennels opened #918 "Doctesting"
Adding MimiFUND and MimiDICE2010 to allow doctesting caused testing errors, so we removed this (temporarily). Look into the reasons for these failures and add them back in to maintain doctesting integrity.